<ol class="ratings-strip" aria-label="Episode ratings">
    @for (bar of bars; track bar.id) {
        <li class="ratings-strip__item">
            <a
                class="ratings-strip__link"
                [class.ratings-strip__link--best]="bar.isBest"
                [class.ratings-strip__link--unrated]="!bar.isRated"
                [routerLink]="bar.routeCommands"
                [attr.aria-label]="bar.label"
                [attr.title]="bar.label"
            >
                <span class="ratings-strip__value" aria-hidden="true">{{ bar.ratingLabel }}</span>
                <span class="ratings-strip__track" aria-hidden="true">
                    <span class="ratings-strip__bar" [style.height.%]="bar.heightPercent"></span>
                </span>
                <span class="ratings-strip__episode" aria-hidden="true">{{ bar.episodeNumber }}</span>
            </a>
        </li>
    }
</ol>
