<div class="person-list" role="list">
    @if (state.state === "loading") {
        <ng-container *ngTemplateOutlet="skeleton" />
    } @else if (state.state === "success" || state.state === "loading-more") {
        @for (person of state.data; track person.id; let idx = $index) {
            <app-person-list-item [person]="person" [index]="showIndex ? indexStart + idx : null" />
        }
        @if (state.state === "loading-more") {
            <ng-container *ngTemplateOutlet="skeleton" />
        }
    }

    <ng-template #skeleton>
        @for (i of skeletonCount | repeat; track i) {
            <app-person-list-item [loading]="true" [index]="showIndex ? indexStart + i : null" />
        }
    </ng-template>
</div>
