@if (photosBrowser$ | async; as photosBrowser) {
    <div class="photos-browser">
        @if (photosBrowser.hasImages) {
            <app-browse-toolbar>
                @if (photosBrowser.showTypeFilter) {
                    <app-toggle-group
                        start
                        [options]="photosBrowser.typeOptions"
                        [selectedValue]="photosBrowser.selectedType"
                        (selected)="setSelectedType($event)"
                    />
                }
                <app-sort-button
                    end
                    [options]="sortOptions"
                    [selectedValue]="photosBrowser.sortField"
                    [direction]="photosBrowser.sortDirection"
                    (sortChange)="setSortField($event)"
                    (directionToggle)="toggleSortDirection()"
                />
            </app-browse-toolbar>
        }

        @if (photosBrowser.hasVisibleImages) {
            <div
                class="photos-browser__grid"
                [class.photos-browser__grid--portrait]="photosBrowser.isPortraitGrid"
                [class.photos-browser__grid--logo]="photosBrowser.isLogoGrid"
            >
                @for (tile of photosBrowser.tiles; track tile.image.file_path) {
                    <button
                        type="button"
                        class="photos-browser__card"
                        [attr.aria-label]="tile.ariaLabel"
                        (click)="photoSelect.emit({ images: photosBrowser.visibleImages, index: tile.index })"
                    >
                        <app-image
                            class="photos-browser__image"
                            [src]="tile.image.file_path"
                            [params]="tile.thumbnailSize"
                            type="media"
                            alt=""
                        />
                    </button>
                }
            </div>

            <div class="photos-browser__footer">
                <span class="text-meta">{{ photosBrowser.shownLabel }}</span>
                @if (photosBrowser.hasMore) {
                    <button mat-stroked-button type="button" (click)="showMore()">{{ photosBrowser.moreLabel }}</button>
                }
            </div>
        } @else {
            <div class="empty-panel">
                <app-empty-state iconClass="fa-regular fa-images" text="No photos are available yet." />
            </div>
        }
    </div>
}
