@if (localeRegion$ | async; as localeRegion) {
    <button
        class="locale-region-menu__trigger text-caption"
        type="button"
        [matMenuTriggerFor]="localeRegionMenu"
        [matMenuTriggerRestoreFocus]="false"
        [attr.aria-label]="localeRegion.ariaLabel"
    >
        <mat-icon class="locale-region-menu__trigger-icon" aria-hidden="true">language</mat-icon>
        <span class="locale-region-menu__trigger-value" aria-hidden="true">
            <span>{{ localeRegion.languageCode }}</span>
            @if (localeRegion.regionCode) {
                <span class="locale-region-menu__trigger-region">{{ localeRegion.regionCode }}</span>
            }
        </span>
    </button>

    <mat-menu #localeRegionMenu="matMenu" xPosition="before">
        <div class="locale-region-menu__panel" (click)="$event.stopPropagation()">
            <div class="locale-region-menu__field">
                <span class="locale-region-menu__label text-label">Language</span>
                <mat-form-field class="locale-region-menu__select-field" appearance="outline" subscriptSizing="dynamic">
                    <mat-select
                        aria-label="Language"
                        [value]="localeRegion.language"
                        (selectionChange)="setLanguage($event.value)"
                    >
                        <mat-option>
                            <ngx-mat-select-search
                                placeholderLabel="Search languages"
                                noEntriesFoundLabel="No matching languages"
                                [ngModel]="localeRegion.languageFilter"
                                (ngModelChange)="updateLanguageFilter($event)"
                            />
                        </mat-option>
                        @if (localeRegion.showFeaturedLanguages) {
                            <mat-optgroup label="Popular">
                                @for (option of localeRegion.featuredLanguageOptions; track option.value) {
                                    <mat-option [value]="option.value">
                                        {{ option.label }}
                                    </mat-option>
                                }
                            </mat-optgroup>
                        }
                        @if (localeRegion.showEmptyLanguages) {
                            <mat-option disabled>{{ localeRegion.languageEmptyLabel }}</mat-option>
                        }
                        @for (option of localeRegion.languageOptions; track option.value) {
                            <mat-option [value]="option.value">
                                {{ option.label }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="locale-region-menu__field">
                <span class="locale-region-menu__label text-label">Region</span>
                <mat-form-field class="locale-region-menu__select-field" appearance="outline" subscriptSizing="dynamic">
                    <mat-select
                        aria-label="Region"
                        [value]="localeRegion.region"
                        (selectionChange)="setRegion($event.value)"
                    >
                        <mat-option>
                            <ngx-mat-select-search
                                placeholderLabel="Search regions"
                                noEntriesFoundLabel="No matching regions"
                                [ngModel]="localeRegion.regionFilter"
                                (ngModelChange)="updateRegionFilter($event)"
                            />
                        </mat-option>
                        @if (localeRegion.showFeaturedRegions) {
                            <mat-optgroup label="Popular">
                                @for (option of localeRegion.featuredRegionOptions; track option.value) {
                                    <mat-option [value]="option.value">
                                        {{ option.label }}
                                    </mat-option>
                                }
                            </mat-optgroup>
                        }
                        @if (localeRegion.showEmptyRegions) {
                            <mat-option disabled>{{ localeRegion.regionEmptyLabel }}</mat-option>
                        }
                        @for (option of localeRegion.regionOptions; track option.value) {
                            <mat-option [value]="option.value">
                                {{ option.label }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-menu>
}
