<div class="page-container">
    @if (personDetail$ | async; as personDetail) {
        <app-sub-page-header [parentTitle]="personDetail.personName" [backLink]="['../']" pageTitle="Photos" />

        <div class="page-main">
            @if (personDetail.photos.state === 'loading') {
                <app-photos-browser-skeleton />
            } @else if (personDetail.photos.state === 'success') {
                <app-photos-browser [images]="personDetail.photos.data" (photoSelect)="openPhotoViewer($event)" />
            }
        </div>
    }
</div>
