<app-carousel
    [class.media-carousel-panel--backdrop]="variant === 'backdrop'"
    [ariaLabel]="ariaLabel"
    [columns]="columns"
    [items]="state | carouselItems: skeletonCount"
>
    <ng-template let-item>
        @if (!item) {
            <div class="media-carousel-panel__skeleton-media">
                <app-skeleton class="media-carousel-panel__skeleton-fill" />
            </div>
        } @else {
            @if (variant === 'card') {
                <app-card
                    [item]="item"
                    [imageParams]="imageParams"
                    [showRating]="showRating"
                    [dateFormat]="dateFormat"
                />
            } @else {
                <app-backdrop-card
                    [item]="item"
                    [showRating]="showRating"
                    [showDate]="showDate"
                    [dateFormat]="dateFormat"
                />
            }
        }
    </ng-template>
</app-carousel>
