@if (data.state === 'loading') {
    <ul class="cast-grid u-list-none" aria-hidden="true">
        @for (i of skeletonItems; track i) {
            <li class="cast-member cast-member--skeleton">
                <app-skeleton class="cast-member__avatar" />
                <span class="cast-member__text">
                    <app-skeleton class="cast-member__name-skeleton" />
                    <app-skeleton class="cast-member__role-skeleton" />
                </span>
            </li>
        }
    </ul>
} @else if (data.state === 'success') {
    @if (data.data; as credits) {
        @if (credits.topCast.length) {
            <ul class="cast-grid u-list-none">
                @for (person of credits.topCast; track person.id) {
                    <li>
                        <a class="cast-member" [routerLink]="['/name', person.id]">
                            <app-image class="cast-member__avatar" [src]="person.imagePath" [alt]="person.name" type="person" />
                            <span class="cast-member__text">
                                <span class="cast-member__name text-card-title">{{ person.name }}</span>
                                @if (person.subtitle) {
                                    <span class="cast-member__role text-card-meta">{{ person.subtitle }}</span>
                                }
                            </span>
                        </a>
                    </li>
                }
            </ul>
        }

        @if (credits.isSeries && credits.directors.length) {
            <div class="list">
                <div class="row">
                    <span class="label text-caption">Episode directors</span>

                    <span class="names text-body-sm">
                        @for (person of credits.directors.slice(0, 5); track person.id; let i = $index) {
                            <a class="link" [routerLink]="['/name', person.id]">
                                {{ person.name }}
                            </a>
                            @if (i < (credits.directors.length > 5 ? 4 : credits.directors.length - 1)) {
                                <span class="separator"> &#x2022; </span>
                            }
                        }

                        @if (credits.directors.length > 5) {
                            <span class="text-caption"> +{{ credits.directors.length - 5 }} more </span>
                        }
                    </span>
                </div>
            </div>
        }
    }
}
