<div class="carousel-wrapper" role="region" [attr.aria-label]="ariaLabel">
    <div
        class="carousel-viewport"
        #viewport
        tabindex="0"
        (keydown.arrowleft)="$event.preventDefault(); scrollByPage(-1)"
        (keydown.arrowright)="$event.preventDefault(); scrollByPage(1)"
    >
        <div class="carousel-track" #track>
            @for (slide of slides; track slide.key) {
                <div class="carousel-item">
                    <ng-container
                        [ngTemplateOutlet]="itemTemplate"
                        [ngTemplateOutletContext]="{ $implicit: slide.item, index: slide.index }"
                    />
                </div>
            }
        </div>
    </div>

    @if (hasOverflow) {
        <app-icon-button
            class="carousel__nav carousel__nav--prev"
            appearance="overlay"
            ariaLabel="Scroll carousel backward"
            [disabled]="!canPrevious"
            (buttonClick)="scrollByPage(-1)"
        >
            <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
        </app-icon-button>
        <app-icon-button
            class="carousel__nav carousel__nav--next"
            appearance="overlay"
            ariaLabel="Scroll carousel forward"
            [disabled]="!canNext"
            (buttonClick)="scrollByPage(1)"
        >
            <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
        </app-icon-button>
    }
</div>
