<div class="photos-browser-skeleton">
    <app-browse-toolbar>
        <div start class="photos-browser-skeleton__toolbar-start">
            <app-skeleton class="photos-browser-skeleton__count" />
            <app-skeleton class="photos-browser-skeleton__filter photos-browser-skeleton__filter--short" />
            <app-skeleton class="photos-browser-skeleton__filter" />
        </div>
        <app-skeleton end class="photos-browser-skeleton__sort" />
    </app-browse-toolbar>

    <div class="photos-browser-skeleton__grid">
        @for (i of skeletonCount | repeat; track i) {
            <app-skeleton class="photos-browser-skeleton__tile" />
        }
    </div>
</div>
