@if (photoViewer$ | async; as photoViewer) {
    @if (photoViewer.image; as image) {
        <div class="photo-viewer">
            <div class="photo-viewer__toolbar">
                <span class="photo-viewer__counter text-meta">{{ photoViewer.counter }}</span>
                <div class="photo-viewer__actions">
                    @if (photoViewer.showPhotosLink) {
                        <app-icon-button
                            appearance="overlay"
                            (buttonClick)="openPhotosPage()"
                            ariaLabel="Open photos page"
                        >
                            <mat-icon>grid_on</mat-icon>
                        </app-icon-button>
                    }
                    <app-icon-button appearance="overlay" (buttonClick)="close()" ariaLabel="Close photo viewer">
                        <mat-icon>close</mat-icon>
                    </app-icon-button>
                </div>
            </div>

            <div class="photo-viewer__stage">
                <app-icon-button
                    appearance="overlay"
                    class="photo-viewer__nav photo-viewer__nav--prev"
                    (buttonClick)="previous()"
                    [disabled]="!photoViewer.canPrevious"
                    ariaLabel="Previous photo"
                >
                    <mat-icon>chevron_left</mat-icon>
                </app-icon-button>

                <img class="photo-viewer__photo" [src]="photoViewer.imageSource | imgSrc: 'w1280'" alt="" />

                <app-icon-button
                    appearance="overlay"
                    class="photo-viewer__nav photo-viewer__nav--next"
                    (buttonClick)="next()"
                    [disabled]="!photoViewer.canNext"
                    ariaLabel="Next photo"
                >
                    <mat-icon>chevron_right</mat-icon>
                </app-icon-button>
            </div>

            <div class="photo-viewer__meta text-caption">
                @if (image.caption) {
                    <span>{{ image.caption }}</span>
                }
                @if (photoViewer.showDimensions) {
                    <span>{{ image.width }} &times; {{ image.height }}</span>
                }
                @if (image.vote_average) {
                    <span class="photo-viewer__score">
                        <app-rating [value]="image.vote_average" />
                        @if (image.vote_count) {
                            <span class="photo-viewer__votes">({{ image.vote_count | voteCount }})</span>
                        }
                    </span>
                }
            </div>
        </div>
    }
}
