<div class="media-list">
    @if (showSkeleton) {
        <ng-container [ngTemplateOutlet]="skeleton" />
    } @else {
        @for (entry of entries; track entry.item.id) {
            <app-media-list-item [item]="entry.item" [genreNames]="entry.genreNames" [link]="entry.routerLink" />
        }
        @if (showMoreSkeleton) {
            <ng-container [ngTemplateOutlet]="skeleton" />
        }
    }
</div>

<ng-template #skeleton>
    @for (slot of skeletonCount | repeat; track slot) {
        <app-media-list-item [loading]="true" />
    }
</ng-template>
