<div class="page-container">
    @if (mediaPhotos$ | async; as mediaPhotos) {
        <app-media-sub-page-header [media]="mediaPhotos.media" pageTitle="Photos" />

        <main class="page-main">
            @if (mediaPhotos.images; as images) {
                <app-photos-browser
                    [images]="images"
                    (photoSelect)="openPhotoViewer($event, mediaPhotos.media?.title)"
                />
            } @else if (mediaPhotos.showSkeleton) {
                <app-photos-browser-skeleton />
            }
        </main>
    }
</div>
