@if (state.state === 'loading') {
    <ul class="episode-list" aria-hidden="true">
        @for (i of skeletonCount | repeat; track i) {
            <li><app-episode-list-item numbered [loading]="true" /></li>
        }
    </ul>
} @else if (state.state === 'success') {
    <ul class="episode-list" aria-label="Episodes">
        @for (entry of state.data; track entry.id) {
            <li><app-episode-list-item numbered [item]="entry.item" [highlighted]="entry.isBest" /></li>
        }
    </ul>
}
