@if (loading) {
    <ul class="credit-grid" aria-hidden="true">
        @for (row of loadingRowCount | repeat; track row) {
            <li class="credit credit--skeleton">
                <app-skeleton class="credit__photo" />
                <span class="credit__body">
                    <app-skeleton class="credit__line credit__line--name" />
                    <app-skeleton class="credit__line" />
                </span>
            </li>
        }
    </ul>
} @else {
    <ul class="credit-grid" [attr.aria-label]="label">
        @for (person of people; track person.key) {
            <li>
                <a class="credit" [routerLink]="['/name', person.id]">
                    <app-image class="credit__photo" [src]="person.profilePath" alt="" type="person" params="w185" />
                    <span class="credit__body">
                        <span class="credit__name">{{ person.name }}</span>
                        @if (person.role) {
                            <span class="credit__role text-card-meta">{{ person.role }}</span>
                        }
                    </span>
                    @if (person.episodeLabel) {
                        <span class="credit__episodes text-caption">{{ person.episodeLabel }}</span>
                    }
                </a>
            </li>
        }
    </ul>
}
