<div class="media-card">
    <a class="media-card__link" [routerLink]="item.routeCommands ?? ['/title', item.id, item.mediaType]">
        <div class="media-card__media">
            <app-image class="media-card__image" [src]="item.imagePath" [alt]="item.title" [params]="imageParams" />
        </div>

        <div class="media-card__content">
            <span class="media-card__title text-card-title">{{ item.title }}</span>

            @if ((showRating && item.rating) || item.date) {
                <span class="media-card__meta text-card-meta">
                    @if (item.date) {
                        <span>{{ item.date | date: datePatterns[dateFormat] }}</span>
                    }

                    @if (showRating && item.rating) {
                        <app-rating [value]="item.rating" />
                    }
                </span>
            }

            @if (item.role) {
                <span class="media-card__role text-card-meta u-truncate">{{ item.role }}</span>
            }
        </div>
    </a>

    <div class="media-card__actions" role="group" [attr.aria-label]="item.title">
        <ng-content select="[card-actions]" />
    </div>
</div>
