@if (externalLinks; as externalLinks) {
    <div class="external-links" role="group" aria-label="External links">
        @for (link of externalLinks; track link.label) {
            @if (link.hasDividerBefore) {
                <mat-divider [vertical]="true" />
            }
            <a class="external-links__link" [href]="link.url" target="_blank" rel="noreferrer" [attr.aria-label]="link.label">
                <i class="external-links__icon {{ link.iconClass }}" aria-hidden="true"></i>
            </a>
        }
    </div>
}
