<a class="backdrop-card" [routerLink]="routeCommands" [attr.aria-label]="item.title">
    <div class="backdrop-card__media">
        <app-image
            class="backdrop-card__image"
            [src]="item.backdropPath ?? item.imagePath"
            [alt]="item.title"
            type="media"
            params="w780"
        />
    </div>

    <div class="backdrop-card__content">
        <span class="backdrop-card__title text-subtitle">{{ item.title }}</span>

        <div class="backdrop-card__meta text-caption">
            @if (rating; as rating) {
                <app-rating [value]="rating" />
            }
            @if (showDateValue) {
                <span>{{ item.date | date: datePattern }}</span>
            }
        </div>
    </div>
</a>
