<div class="page-container">
    @if (episodePhotos$ | async; as episodePhotos) {
        <app-sub-page-header
            [backdropPath]="episodePhotos.media?.backdropPath"
            parentTitle="Episode"
            [backLink]="episodePhotos.backLink"
            [pageTitle]="episodePhotos.pageTitle"
            [subtitle]="episodePhotos.subtitle"
            [loading]="!episodePhotos.episode || !episodePhotos.media"
        />

        <main class="page-main">
            @if (episodePhotos.photosState.state === "loading") {
                <app-photos-browser-skeleton />
            } @else if (episodePhotos.photosState.state === "success") {
                <app-photos-browser
                    [images]="episodePhotos.photosState.data"
                    (photoSelect)="openPhotoViewer($event)"
                />
            }
        </main>
    }
</div>
