<div class="page-container">
    @if (episodePhotos$ | async; as episodePhotos) {
        <app-sub-page-header
            [backdropPath]="episodePhotos.backdropPath"
            parentTitle="Episode"
            [backLink]="episodePhotos.backLink"
            [pageTitle]="episodePhotos.pageTitle"
            [subtitle]="episodePhotos.subtitle"
            [loading]="episodePhotos.isHeaderLoading"
        />

        <main class="page-main">
            @if (episodePhotos.showSkeleton) {
                <app-photos-browser-skeleton />
            } @else if (episodePhotos.stills; as stills) {
                <app-photos-browser [images]="stills" (photoSelect)="openPhotoViewer($event)" />
            }
        </main>
    }
</div>
