<div class="page-container">
    @if (mediaPhotos$ | async; as mediaPhotos) {
        <app-sub-page-header
            [backdropPath]="mediaPhotos.media?.backdropPath"
            [parentTitle]="mediaPhotos.media?.title"
            [backLink]="['../']"
            pageTitle="Photos"
        />

        <main class="page-main">
            @if (mediaPhotos.photosState.state === "success") {
                <app-photos-browser
                    [images]="mediaPhotos.images"
                    (photoSelect)="openPhotoViewer($event)"
                />
            } @else if (mediaPhotos.photosState.state === "loading") {
                <app-photos-browser-skeleton />
            }
        </main>
    }
</div>
