@if (listActions$ | async; as listActions) {
    <div class="actions">
        <button
            matButton="filled"
            type="button"
            class="watchlist-button"
            [class.watchlist-button--active]="listActions.isInWatchlist"
            [disabled]="listActions.pending"
            [attr.aria-pressed]="listActions.isInWatchlist"
            (click)="toggleWatchlist()"
        >
            <i
                [class.fa-solid]="listActions.isInWatchlist"
                [class.fa-regular]="!listActions.isInWatchlist"
                class="fa-bookmark"
                aria-hidden="true"
            ></i>
            {{ listActions.watchlistLabel }}
        </button>

        <ng-content />

        <app-icon-button
            class="action"
            [selected]="listActions.isFavorite"
            [disabled]="listActions.pending"
            ariaLabel="{{ listActions.favoriteActionLabel }}: {{ title }}"
            [matTooltip]="listActions.favoriteActionLabel"
            (buttonClick)="toggleFavorite()"
        >
            <i
                [class.fa-solid]="listActions.isFavorite"
                [class.fa-regular]="!listActions.isFavorite"
                class="icon fa-heart"
                aria-hidden="true"
            ></i>
        </app-icon-button>

        <app-icon-button
            class="action"
            [disabled]="listActions.pending || listDialogPending()"
            ariaLabel="Add {{ title }} to one of your lists"
            matTooltip="Add to one of your lists"
            (buttonClick)="openCustomListsDialog()"
        >
            <i class="icon fa-solid fa-list" aria-hidden="true"></i>
        </app-icon-button>
    </div>
}
