<div class="page-container">
    @if (seasonPhotos$ | async; as seasonPhotos) {
        <app-sub-page-header
            [backdropPath]="seasonPhotos.backdropPath"
            parentTitle="Episodes"
            [backLink]="seasonPhotos.backLink"
            [pageTitle]="seasonPhotos.pageTitle"
            [subtitle]="seasonPhotos.subtitle"
            [loading]="seasonPhotos.isMediaLoading"
        />

        <main class="page-main">
            @if (seasonPhotos.showSkeleton) {
                <app-photos-browser-skeleton />
            } @else if (seasonPhotos.images; as images) {
                <app-photos-browser [images]="images" (photoSelect)="openPhotoViewer($event)" />
            }
        </main>
    }
</div>
