<div class="page-container">
    @if (seasonPhotos$ | async; as seasonPhotos) {
        <app-sub-page-header
            [backdropPath]="seasonPhotos.media?.backdropPath"
            parentTitle="Episodes"
            [backLink]="seasonPhotos.backLink"
            [pageTitle]="seasonPhotos.pageTitle"
            [subtitle]="seasonPhotos.subtitle"
            [loading]="!seasonPhotos.media"
        />

        <main class="page-main">
            @if (seasonPhotos.showSkeleton) {
                <app-photos-browser-skeleton />
            } @else if (seasonPhotos.photosState.state === "success") {
                <app-photos-browser
                    [images]="seasonPhotos.photosState.data"
                    (photoSelect)="openPhotoViewer($event)"
                />
            }
        </main>
    }
</div>
